.container {
    max-width: 300px;
    margin: 0 auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input[type="submit"] {
    margin-top: 20px;
  }
  